﻿@using LoremIpsumCMS.Module.Admin.Areas.ContentAdmin.ViewModels.PageAdmin

@model CreateViewModel

<div class="form-group">
    <label asp-for="Path" class="control-label"></label>
    <input asp-for="Path" class="form-control" />
    <span asp-validation-for="Path"></span>
</div>

<div class="form-group">
    <label asp-for="Title" class="control-label"></label>
    <input asp-for="Title" class="form-control" />
    <span asp-validation-for="Title"></span>
</div>
