﻿@using LoremIpsumCMS.Module.Admin.Areas.ContentAdmin.ViewModels.PageAdmin

@model CreateViewModel

<div class="form-group">
    <label asp-for="MetaKeywords" class="control-label"></label>
    <input asp-for="MetaKeywords" class="form-control" />
    <span asp-validation-for="MetaDescription"></span>
</div>

<div class="form-group">
    <label asp-for="MetaDescription" class="control-label"></label>
    <input asp-for="MetaDescription" class="form-control" />
    <span asp-validation-for="MetaDescription"></span>
</div>
