﻿<div class="row buttons-widget">
    <div class="col-md-12">
        @*<button class="btn btn-wide btn-primary">
            Create
        </button>*@

        <a asp-controller="PageAdmin" asp-action="Create" class="btn btn-wide btn-primary">
            Create...
        </a>
    </div>
</div>