﻿@using LoremIpsumCMS.Module.Admin.Areas.ContentAdmin.ViewModels.PageAdmin

@model CreateViewModel

@section PageTitle
{
    Create Page
}

<div class="container-fluid container-fullw bg-white padding-top-10">
    <form id="pageCreate" asp-controller="PageAdmin" asp-action="CreateSave" method="post">
        @Html.Partial("_EditMenuBar")

        <div class="row">
            @Html.Partial("_EditCommon")
        </div>

        <div class="row">
            <div class="tabbable">
                <ul id="editPageTab" class="nav nav-tabs">
                    <li class="active">
                        <a href="#editPageTab_page" data-toggle="tab">Page</a>
                    </li>
                    <li>
                        <a href="#editSiteTab_commonProperties" data-toggle="tab">Common Properties</a>
                    </li>
                    <li>
                        <a href="#editSiteTab_extensionProperties" data-toggle="tab">Extension Properties</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div id="editPageTab_page" class="tab-pane fade in active">
                        @Html.Partial("_EditPagePropertiesTab", Model)
                    </div>
                    <div id="editSiteTab_commonProperties" class="tab-pane fade">
                        @Html.Partial("_EditCommonPropertiesTab", Model)
                    </div>
                    <div id="editSiteTab_extensionProperties" class="tab-pane fade">
                        @Html.Partial("_EditExtensionPropertiesTab", Model)
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>