﻿@using LoremIpsumCMS.Module.Admin.Areas.ContentAdmin.ViewModels.PageAdmin

@model IndexViewModel

@section PageTitle
{
    All Pages
}

<div class="container-fluid container-fullw bg-white padding-top-10">
    @Html.Partial("_IndexMenuBar")

    <table class="table">
        <thead>
            <tr>
                <th>Path</th>
                <th>Title</th>
                <th>Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var page in Model.Pages)
            {
                <tr>
                    <td>@page.Path</td>
                    <td>@page.Title</td>
                    <td>@page.Type</td>
                    <td class="table-column-auto-width">
                        <a asp-controller="PageAdmin" asp-action="Edit" asp-route-path="@page.Path" class="btn btn-blue btn-xs edit-page">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a asp-controller="PageAdmin" asp-action="Delete" asp-route-path="@page.Path" class="btn btn-red btn-xs delete-page">
                            <i class="fa fa-times fa-white"></i>
                        </a>
                    </td>

                </tr>
            }
        </tbody>
    </table>

</div>
