﻿<!DOCTYPE html>
<!--[if IE 8]><html class="ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- start: HEAD -->
<head>
    <title>Lorem Ipsum CMS - Administration</title>
    
    <!-- start: META -->
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="Lorem Ipsum CMS Administration" name="description" />
    <meta content="Niklas Wendel" name="author" />
    <!-- end: META -->

    @Html.Partial("~/Areas/AdminShell/Views/Shared/_LayoutCss.cshtml")
    @RenderSection("PageCss", false)
</head>
<!-- end: HEAD -->
<body>
    <div id="app">
        @Component.Action("MainMenu", "Shell", new { Area = "AdminShell" })

        <div class="app-content">
            @Html.Partial("~/Areas/AdminShell/Views/Shared/_LayoutTopNavbar.cshtml")
            <div class="main-content">
                <div class="wrap-content container" id="container">
                    <section id="page-title" class="padding-top-15 padding-bottom-15">
                        <div class="row">
                            <div class="col-sm-7">
                                <h1 class="mainTitle">
                                    @RenderSection("PageTitle")
                                </h1>
                                <span class="mainDescription">
                                    @RenderSection("PageTitleDescription", false)
                                </span>
                            </div>
                            @RenderSection("PageTitleOther", false)
                        </div>
                    </section>

                    @RenderBody()
                </div>
            </div>
        </div>

        @Html.Partial("~/Areas/AdminShell/Views/Shared/_LayoutFooter.cshtml")
    </div>

    @Html.Partial("~/Areas/AdminShell/Views/Shared/_LayoutJs.cshtml")
    @RenderSection("PageJs", false)
</body>
</html>