﻿<!-- start: GOOGLE FONTS -->
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" type="text/css" />
<!-- end: GOOGLE FONTS -->
<!-- start: MAIN CSS -->
<link rel="stylesheet" href="~/admin/vendor/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="~/admin/vendor/fontawsome/css/font-awesome.css">
<link rel="stylesheet" href="~/admin/vendor/themify-icons/themify-icons.css">
<link rel="stylesheet" href="~/admin/vendor/animate.css/animate.css" media="screen">
<link rel="stylesheet" href="~/admin/vendor/perfect-scrollbar/perfect-scrollbar.min.css" media="screen">
<link rel="stylesheet" href="~/admin/vendor/switchery/switchery.css" media="screen">
<!-- end: MAIN CSS -->
<!-- start: CLIP-TWO CSS -->
<link rel="stylesheet" href="~/admin/assets/css/styles.css">
<link rel="stylesheet" href="~/admin/assets/css/plugins.css">
<link rel="stylesheet" href="~/admin/assets/css/themes/theme-1.css" id="skin_color" />
<!-- end: CLIP-TWO CSS -->
<link rel="stylesheet" href="~/admin/assets/css/loremipsum.css">
