﻿<!-- start: MAIN JAVASCRIPTS -->
<script src="~/admin/vendor/jquery/jquery.min.js"></script>
<script src="~/admin/vendor/bootstrap/js/bootstrap.js"></script>
<script src="~/admin/vendor/modernizr/modernizr.js"></script>
<script src="~/admin/vendor/jquery-cookie/jquery.cookie.js"></script>
<script src="~/admin/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="~/admin/vendor/switchery/switchery.min.js"></script>
<!-- end: MAIN JAVASCRIPTS -->

<!-- start: CLIP-TWO JAVASCRIPTS -->
<script src="~/admin/assets/js/main.js"></script>
<script src="~/admin/assets/js/ui-buttons.js"></script>
<!-- start: JavaScript Event Handlers for this page -->
<script>
	jQuery(document).ready(function() {
		Main.init();
	});
</script>
<!-- end: JavaScript Event Handlers for this page -->
<!-- end: CLIP-TWO JAVASCRIPTS -->
