﻿@using LoremIpsumCMS.Module.Admin.Areas.SiteAdmin.ViewModels.SiteAdmin

@model CreateViewModel

<div class="row">
    <div class="col-md-6">

        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name"></span>
        </div>

        <div class="form-group">
            <label asp-for="Hosts" class="control-label"></label>
            @Html.ValidationMessageFor(x => x.Hosts)

            <table id="hosts-table" class="table table-bordered margin-bottom-5">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Admin</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var ix = 0; ix < Model.Hosts.Length; ix++)
                    {
                        <tr>
                            <td>
                                <input asp-for="Hosts[ix].Name" />
                            </td>
                            <td class="table-column-auto-width">
                                <input asp-for="Hosts[ix].IsAdmin" type="checkbox" />
                            </td>
                            <td class="table-column-auto-width">
                                <a class="btn btn-red btn-xs delete-host" href="#">
                                    <i class="fa fa-times fa-white"></i>
                                </a>
                                <input asp-for="Hosts[ix].IsDeleted" type="checkbox" hidden="hidden" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <a class="btn btn-primary btn-wide add-host" href="#">
                <i class="fa fa-plus"></i>
                Add Host
            </a>
        </div>

    </div>
</div>
