﻿@using LoremIpsumCMS.Module.Admin.Areas.SiteAdmin.ViewModels.SiteAdmin

@model CreateViewModel

@section PageCss
{
    <link rel="stylesheet" href="~/admin/assets/css/page-site-common.css">
}

@section PageTitle
{
    Create Site
}

<div class="container-fluid container-fullw bg-white padding-top-10">
    <form id="siteCreate" asp-controller="SiteAdmin" asp-action="CreateSave" method="post">
        @Html.Partial("_EditMenuBar")

        <div class="tabbable">
            <ul id="editSiteTab" class="nav nav-tabs">
                <li class="active">
                    <a href="#editSiteTab_site" data-toggle="tab">Site</a>
                </li>
                <li>
                    <a href="#editSiteTab_properties" data-toggle="tab">Properties</a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="editSiteTab_site" class="tab-pane fade in active">
                    @Html.Partial("_EditSiteTab", Model)
                </div>
                <div id="editSiteTab_properties" class="tab-pane fade">
                    @Html.Partial("_EditExtensionPropertiesTab", Model)
                </div>
            </div>
        </div>
    </form>
</div>

@section PageJs
{
    <script src="~/admin/assets/js/page-site-common.js"></script>
}
