﻿@using Microsoft.AspNetCore.Html
@using LoremIpsumCMS.Module.Admin.Areas.AdminShell.ViewModels.ViewComponents

@model AdminMenuSidebarViewModel

<!-- sidebar -->
<div class="sidebar app-aside" id="sidebar">
    <div class="sidebar-container perfect-scrollbar">
        <nav>
            
            <!-- start: SEARCH FORM -->
            <div class="search-form">
                <a class="s-open" href="#">
                    <i class="ti-search"></i>
                </a>
                <form class="navbar-form" role="search">
                    <a class="s-remove" href="#" target=".navbar-form">
                        <i class="ti-close"></i>
                    </a>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search...">
                        <button class="btn search-button" type="submit">
                            <i class="ti-search"></i>
                        </button>
                    </div>
                </form>
            </div>
            <!-- end: SEARCH FORM -->

            <!-- start: MAIN NAVIGATION MENU -->
            <div class="navbar-title">
                <span>Main Navigation</span>
            </div>
            <ul class="main-navigation-menu">
                @foreach (var menuItem in Model.MainMenu)
                {
                    <li @RenderActiveAndOpenClass(menuItem)>
                        <a href="@menuItem.Url">
                            <div class="item-content">
                                <div class="item-media">
                                    <i class="@menuItem.IconClass"></i>
                                </div>
                                <div class="item-inner">
                                    <span class="title"> @menuItem.Title </span>
                                    @if(menuItem.HasChildren)
                                    {
                                        <i class="icon-arrow"></i>
                                    }
                                </div>
                            </div>
                        </a>
                        @if (menuItem.HasChildren)
                        {
                            <ul class="sub-menu">
                                @foreach (var subMenuItem in menuItem.Children)
                                {
                                    <li @RenderActiveAndOpenClass(subMenuItem)>
                                        <a href="@subMenuItem.Url">
                                            <span class="title"> @subMenuItem.Title </span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        }
                    </li>
                }
            </ul>

            <!-- Needed to avoid unnecessary scrollbar -->
            <div class="wrapper">
            </div>

        </nav>
    </div>
</div>
<!-- / sidebar -->

@functions
{
    IHtmlContent RenderActiveAndOpenClass(MenuItemViewModel menuItem)
    {
        if(!menuItem.IsActive)
        {
            return HtmlString.Empty;
        }

        var isOpen = menuItem.IsOpen ? " open" : "";
        return new HtmlString($"class=\"active{isOpen}\"");
    }
}